# Visual Studio
.vs/
*.user
*.suo
*.VC.db

# Build folders
Debug/
Release/
x64/
build/

# Qt
GeneratedFiles/
moc_*.cpp
ui_*.h
qrc_*.cpp

# Compiled files
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.ipch

# Qt VS Tools
*.qtvscr